<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compound Calculator</title>

    <link rel="stylesheet" href="/compCalc.css">
</head>

<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">Calculator</div>
            <div class="card-body">
                <form action="/" method="post">
                    <div class="row g-3">
                        <div class="col-6">
                            <label for="principalAmount" class="form-label">PRINCIPAL AMOUNT</label>
                            <input type="text" class="form-control" id="principalAmount" name="principalAmount">
                        </div>
                        <div class="col-6">
                            <label for="interestRate" class="form-label">INTEREST RATE</label>
                            <input type="text" class="form-control" id="interestRate" name="interestRate">
                        </div>
                        <div class="col-6">
                            <label for="timeInYears" class="form-label">TIME IN YEARS</label>
                            <input type="text" class="form-control" id="timeInYears" name="timeInYears">
                        </div>
                        <div class="col-6">
                            <label for="compoundingInterest" class="form-label">COMPOUNDING FREQUENCY</label>
                            <input type="text" class="form-control" id="compoundingInterest" name="compoundingInterest">
                        </div>

                        <div class="mb-3">

                            <ul>
                                <li><a class="btn btn-primary " href="/app.html" role="button">RESET</a></li>
                                <li><button type="submit" class="btn btn-primary">COMPUTE</button></li>
                                <li><a class="btn btn-primary " href="#" role="button">EXIT</a></li>
                            </ul>



                            <td class="textbox"><input type="text" id="ResultLBL" onclick="calculatepayment()"></td>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>