tr>td {
    background-color:white;
    font-weight: bold;
    text-align: center;
    border-width: 2px;


}
h1{
    text-align: center;
}
button` >COMPUTE{
    text-align: center;
    padding: 0px;
}
td{
    text-emphasis: none;
    text-align: center;
}